@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0px;
}

body {
  margin: 25px;
  min-height: 100vh;
}

.wrapper {
  line-height: 1;
  display: grid;
  grid-template-columns: min-content min-content;
  left: 20%;
  top: 35%;
  font-size: 5rem;
  font-family: "Source Code Pro", monospace;
  position: absolute;
  animation: on-load 0.5s linear 0s 1 normal forwards;
  row-gap: 0px;
}

.data,
.hidden1,
.hidden2 {
  width: 0;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  margin: 0;
  line-height: 1;
}
.data {
  width: 1ch;
}
.hover .trigger {
  display: none;
  transition-duration: 2s;
}
.hover .data {
  height: fit-content;
  margin-right: 1ch;
  animation: x-appear 0.1s linear 0s 1 normal forwards;
  transition-duration: 0.1s;
}
.hover .hidden1 {
  height: fit-content;
  animation: x-appear 0.1s linear 0.1s 1 normal forwards;
  transition-duration: 0.1s;
}
.hover .hidden2 {
  animation: y-appear 0.1s linear 0.2s 1 normal forwards;
}

@keyframes x-appear {
  from {
    visibility: visible;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}

@keyframes y-appear {
  0% {
    width: 100%;
    visibility: visible;
  }
  100% {
    height: fit-content;
    width: 100%;
    visibility: visible;
  }
}

@keyframes on-load {
  from {
    opacity: 0;
    transform: translateY(42px);
  }
  to {
    opacity: 100%;
    transform: none;
  }
}
